<h1 style="text-align: center; color: green;">template form</h1>
<div>
    <form #regData="ngForm" (ngSubmit)="Register(regData)">
        <div>
            First name : <input type="text" placeholder="enter name" required name="firstname" ngModel #fname="ngModel">
            <span *ngIf="!fname.valid">name is required</span>
        </div>
        <div>
            Last name : <input type="text" placeholder="enter name" required name="lastname" ngModel #lname="ngModel">
            <span *ngIf="!lname.valid">name is required</span>
        </div>
        <div>
            Email : <input type="text" placeholder="enter name" required name="email" ngModel #email="ngModel">
            <span *ngIf="!email.valid">name is required</span>
       </div>
        <div>
            <input type="submit" value="Regsiter" /> 
        </div>
        
    </form>
</div>