<h1 *ngIf="valid">Hello abhishek</h1>

<!-- <h1>hello abhisje</h1>
<input type="radio" name="rad" checked (click)="onchange(true)">TRUE
<input type="radio" name="rad" (click)="onchange(false)">FALSE

<div *ngIf="isvalid">
    valid
</div >
<div *ngIf="!isvalid">
    Invalid
</div> -->
<input type="text" (keyup)="0" #refVar>

<div [ngSwitch]="refVar.value">
    <div *ngSwitchCase="'abhishek'">Hello Abhishek</div>
    <div *ngSwitchCase="'nabi'">Hello nabi</div>
    <div *ngSwitchCase="'tillu'">Hello tillu</div>
    <div *ngSwitchCase="'simpy'">Hello simpy</div>
    <div *ngSwitchCase="'kal'">Hello kal</div>

</div>